// main: ../main.styl
// background texture Made by Atle Mo http://atle.co/

html
  box-sizing border-box

*,
*:before,
*:after
  box-sizing inherit

html, body
  height 100%

body
  padding 30px
  background-color $default-second-color
  font-family 'Roboto', sans-serif;
  font-weight 100
  color white
  background-image url('../../assets/img/bg-asfalt-dark.png')

a,
a:hover,
a:focus,
a:visited
  color white

#container
  display flex
  justify-content center
  text-align center
  #content
    color $light-gray
    @media $tablet
      width 50%
    @media $phone
      width 90%
    img.logo
      width 80%
    h1,
    h2
      font-weight 100
      text-transform uppercase
    p
      font-weight 100
      color $dark-gray
