// main: ../main.styl

$desktop = "(min-width: 990px)"
$tablet = "(min-width: 768px) and (max-width: 990px)"
$phone = "(max-width: 767px)"
$tablet_and_phone = "(max-width: 990px)"

$default-primary-color = #E63D24
$default-second-color = #1f1e1e
$light-gray = #d0d0d0
$dark-gray = #6f6f6f
