// out: ./main.css, sourcemap: true, compress: true, nib: true
// need stylus-autocompile Atom package to work (https://atom.io/packages/stylus-autocompile)

@require 'lib/var.styl'
@require 'lib/common.styl'
